.app{
    width: 2%; height: 2%; position: fixed; left: 4%; top: 7%; font-size: smaller; color: whitesmoke; text-shadow: -2px -2px 0 black;
}
.apptext{
    width: 200%; position: relative; right: 50%; user-select: none;
}
.Lbar{
    position: fixed; left: 0; bottom: 0; width: 100%; height: 2.5%; background-color: rgb(29, 29, 196);
}
.handle{
    width: 100%; height: 35px; background-color: rgba(38, 101, 235, 0.788); left: 25%; border-top-left-radius: 25px; border-top-right-radius: 25px;
}
body {
    background-color: #3eac9b; background-image: url('a7a20e9a4c0c5ed6af6cbaf3c268d701.jpg'); background-size: 100% 100%; background-repeat: no-repeat; overflow: hidden;
}
.close{
    width: 22px; height: 22px; position: absolute; right: 15; top: 10; background-color: red; text-align: center; color: whitesmoke; border-radius: 25%; border-color: whitesmoke; border: 12px;
}
.Mwindow{
    position: absolute;
    resize: both;
    overflow: hidden;
    border: 2px solid;
    min-height: 200px;
    min-width: 400px;
    width: 40%; height: 40%; background-color: white;  border-color: lightslategray;
}
.wtext{
    padding-top: 1%; padding-left: 1%; font-size: small; color: whitesmoke; text-shadow: -2px -2px 0 black;
}
.smile{
    width: 100%; height: 100%; background-image: url("SEC-S-12x18-NON_500x.jpg"); background-size: 100% 100%; background-repeat: no-repeat; overflow: hidden;
}
.invoce{
    width: 90%; height: 90%; background-image: url("Invoice.PNG"); background-size: 100% 100%; background-repeat: no-repeat; overflow: hidden;
}
.bcard{
    width: 90%; height: 90%; background-image: url("1.png"); background-size: 100% 100%; background-repeat: no-repeat; overflow: hidden;
}
.cut1{
    width: 90%; height: 90%; background-image: url("cut1.png"); background-size: 100% 100%; background-repeat: no-repeat; overflow: hidden;
}
.cut2{
    width: 90%; height: 90%; background-image: url("cut2.png"); background-size: 100% 100%; background-repeat: no-repeat; overflow: hidden;
}
.cut3{
    width: 90%; height: 90%; background-image: url("cut3.png"); background-size: 100% 100%; background-repeat: no-repeat; overflow: hidden;
}
.cut4{
    width: 90%; height: 90%; background-image: url("cut4.png"); background-size: 100% 100%; background-repeat: no-repeat; overflow: hidden;
}
.cut5{
    width: 90%; height: 90%; background-image: url("cut5.png"); background-size: 100% 100%; background-repeat: no-repeat; overflow: hidden;
}
.muse{
    background-color: dimgrey; background-image: url("museum-background-ar4wuzdgkobt7g65.jpg"); height: 1000px; width: 1000px;
}
.inside{
    height: 125%;
    overflow: scroll;
}